/* resetting default margin and padding box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* add custom fonts for the project */
@font-face {
    font-family: 'action_manbold';
    src: url('fonts/action_man_bold-webfont.woff2') format('woff2'),
         url('fonts/action_man_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cooper_hewittlight';
    src: url('fonts/cooperhewitt-light-webfont.woff2') format('woff2'),
         url('fonts/cooperhewitt-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* create custom properties for styling */
:root {
    --section-bg-clr: #E2E8F0;
    --header-size: 1.5rem;
    --paragragh-size: 1.1rem;
    --content-size: 0.8rem;
    --body-bg-clr: aliceblue;
    --dashboard-bg-clr: rgb(90, 90, 246);
    --dashboard-txt-clr: whitesmoke;
    --dashboard-font: 'action_manbold';
    --paragraph-txt-clr: 'black';
    --paragraph-font: 'action_manbold';
    --content-font: 'Roboto';
}

svg {
  width: 2rem;
  fill: var(--dashboard-txt-clr);
}

img {
    width: 3rem;
}

/* section */
section {
    height: auto;
    width: 100vw;
    background-color: var(--section-bg-clr);
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(auto-fit, minmax(100px, auto));
}

header {
    grid-column: 1;
    grid-row: 1 / 5;
}

nav {
    grid-column: 2 / 5;
}

main {
    grid-column: 2 / 4;
    grid-row: 2 / 5;
    padding-left: 20px;
}

aside {
    grid-column: 4 / 5;
    grid-row: 2 / 5;
}
/* section end */

/* Header section start */
header {
    background-color: var(--dashboard-bg-clr);
}

header p {
    font-family: var(--paragraph-font);
    font-size: var(--paragragh-size);
    color: var(--dashboard-txt-clr);
}

header > div div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

header .dashboard {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px;
    font-family: var(--paragraph-font);
    color: var(--dashboard-txt-clr);
    align-self: self-start;
}

header >div:nth-child(3){
    margin-top: 50px;
}

header .dashboard p {
    font-size: var(--header-size);
}


header {
    padding-left: 20px;
    display: grid;
    gap: 20px;
    /* grid-template-rows: auto 1fr 1fr; */
    grid-template-rows: auto;
    align-content: start;
}
/* Header section end */

/* navbar section start */

nav {
    background-color: var(--dashboard-txt-clr);
    display: grid;
    grid-template-rows: 1fr 2fr;
}

nav svg {
    fill: var(--paragraph-txt-clr);
}

nav .nav_header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 10px 20px;
}

nav .nav_header label {
    display: flex;
    align-items: center;
    gap: 10px;
}

label input {
    width: 70%;
    border-radius: 20px;
    border: none;
    background-color: var(--section-bg-clr);
    padding: 8px;
}

nav .nav_header .header_logo {
    display: grid;
    grid-template-columns: 2fr 2fr 5fr;
    align-items: center;
}

.nav_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px 20px;
}

nav p {
    color: var(--paragraph-txt-clr);
    font-family: var(--dashboard-font);
    font-size: var(--content-size);
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, auto));
    justify-content: start;
}

.nav_links ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, auto));
    list-style: none;
    justify-content: end;
    gap: 20px;
}

ul li {
    width: 5rem;
    text-align: center;
    border-radius: 20px;
    background-color: var(--dashboard-bg-clr);
    padding: 10px 20px;
    place-self: center;
}

li a {
    text-decoration: none;
    font-family: var(--dashboard-font);
    color: var(--dashboard-txt-clr);
    font-size: var(--content-size);
}
/* navbar end */

/* main section start */

main .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    align-content: start;
    padding: 20px;
}

main {
    padding-top: 15px;
}

main > h2 {
    padding: 5px 15px;
    font-family: var(--paragraph-font);
    font-size: var(--paragragh-size); 
}
main .card {
    position: relative;
    height: 250px;
    background-color: var(--dashboard-txt-clr);
    font-family: var(--content-font);
    font-size: var(--content-size);
    padding: 30px; 
    border-radius: 15px;
}

.card h2 {
    font-family: var(--paragraph-font);
    font-size: var(--paragragh-size);
    padding-bottom: 5px;
}

.card svg {
    width: var(--paragragh-size);
    fill: var(--paragraph-txt-clr);
}

.card .icons {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    padding: 10px;
    gap: 15px;
}

.card-grid .border {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 10px;
    border-radius: 15px 0 0 15px;
    background-color: var(--dashboard-bg-clr);
}
/* main section end */

/* aside section start */
.side-card .card svg{
    width: 2rem;
    height: 2rem;
    fill: var(--paragraph-txt-clr);
}

aside {
    display: grid;
    min-width: 400px;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 15px;
    justify-content: start;
}

aside .side-card {
    width: 300px;
}

aside .card {
    display: grid;
    /* grid-template-rows: repeat(auto-fit, minmax(100px, auto)); */
    grid-template-rows: auto;
    gap: 10px;
    padding: 30px;
    background-color: var(--dashboard-txt-clr);
    border-radius: 15px;
    align-content: start;
}

.side-card .head {
    padding-bottom: 10px;
}
.side-card h2{
    /* font-family: var(--paragraph-font); */
    font-family: var(--dashboard-font);
    font-size: var(--content-size);
}
.side-card p {
    /* font-family: var(--content-font); */
    font-family: 'Roboto';
    font-size: var(--content-size);
    padding-bottom: 10px;
}

aside .card .center {
    border-top:2px solid black;
    border-bottom: 2px solid black;
    padding: 5px 0;
}

.social > div {
    display: grid;
    grid-template-columns: 50px auto;
    /* grid-template-columns: repeat(auto-fit, minmax(55px, auto)); */
    align-content: start;
    justify-content: start;
    max-height: 55px;
}

.social .facebook {
    max-height: 50px;
}